.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-attachment: fixed;
  background-image: url(../assets/png/black-background-grunge.jpg);
}
.comments_title {
  margin: 20px 0;
}
.slider {
  width: 90vw;
  margin: auto;
  height: auto;
  overflow: hidden;
}
.slider-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(300px * 14);
}
.slide {
  width: 300px;
  margin: 0 20px;
  border-radius: 10px;
  overflow: hidden;
}
.slide img {
  width: 100%;
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-300px * 7));
    transform: translateX(calc(-300px * 7));
  }
}
